<% data.services.each do |s| %>
  <% if s.id == id %>
    <h2>Pricing</h2>
    <div class="row">
      <div class="col-md-12">
        All prices are for a single 6- to 8-hour course for up to 12 students. Additional seats can be added at a per-seat cost.<br/>
        <br/>
        <strong>Remote:</strong> $5,000<br/>
        Remote courses are normally delivered in 2 4-hour sessions, which are presented on different days.<br/>
        <br/>
        <strong>At your site:</strong> $7,000 plus travel expenses for each instructor<br/>
        On-site courses are normally delivered in a single 9-hour session (including a lunch break).<br/>
        <br/>
        <% if s.facility_price %>
          <strong>At a GitLab-hosted facility:</strong> <%= number_to_currency(s.facility_price, precision: 0) %> plus $5,000 plus travel expenses for each instructor
        <% end %>
      </div>
    </div>
    <h2>Customization</h2>
    <p>This course can be customized. Pricing is based on the scope of customization.</p>
  <% end %>
<% end %>
